<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Meal-Planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{% static 'planner/css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'planner/js/script.js' %}"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}"><span>Home</span></a></li>
                   </ul>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>